NODE_ENV='devlopment'
PORT=

# DB URL
MONGO_URI=

# Frontend url
CLIENT_URL=

# JWT Config
JWT_SECRET="replace-with-a-long-random-secret"
JWT_ACCESS_SECRET='dfsad1'
JWT_REFRESH_SECRET='dfsad2'
JWT_ACCESS_EXPIRES_IN='15m'
JWT_REFRESH_EXPIRES_IN='7d'
